body {
    min-width: 740px;
}

.form-control[readonly] {
    background-color: #caf8ff;
}

.m-search {
    height: auto;
}

.profilePhoto {
    position: absolute;
    right: 25px;
    top: 10px;
    z-index: 1000;
}

.m-item:hover .m_imgdiv {
    box-shadow: 0 0 5px #a3dadb;
}

.m_imgdiv {
    width: 50px;
    height: 50px;
    box-shadow: 0 0 5px #a3dadb;
    border-radius: 10px;
}

.m_imgdiv:hover {
    box-shadow: 5px 5px 20px #88b6b7 !important;
}

.m_imgdiv img {
    width: 60%;
    height: 30px;
    margin: 10px;
}

.logo-box {
    width: 22%;
    min-width: 250px;
    margin: 25px auto;
}

.logo {
    width: 100%;
}

.m-item {
    padding: 10px;
    box-shadow: 0 0 5px #a3dadb;
    border-radius: 10px;
    transition: none;
}

.m-item:hover {
    box-shadow: 0 0 5px #a3dadb;
    background-color: #caf8ff;
}

.change-lang-box {
    height: 60px;
}

.textareaLabel {
    width: 100%;
}

.lh-textarea {
    font-size: 16px;
    /*font-size: 20px;*/
    padding: 10px 15px;
    resize: none;
    background-color: #caf8ff;
    text-align: justify;
    font-family: "Microsoft YaHei", serif;
    font-weight: initial;
    /*transition: .3s ease-in-out;*/
}

.lh-textarea::placeholder {
    color: rgba(153, 153, 153, 0.5);
}

.form-control {
    border: none;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 5px #a3dadb;
}

.change-lang-box > div:not(:last-child) {
    float: left;
    padding-top: 3px;
    width: 15.2%;
    margin: auto 1%;
}

.translateButton,
.transfer,
.dropdown-toggle {
    width: 100%;
    padding: 0 0;
    font-weight: bold;
    height: 34px;
    transition: .3s ease-in-out;
}

.translateButton,
.dropdown-toggle {
    box-shadow: 3px 3px 5px #a3dadb;
}

.translateButton:hover,
.dropdown-toggle:hover {
    box-shadow: 5px 5px 20px #88b6b7
}

.transfer-box {
    width: 5% !important;
}

.transfer {
    width: 20px;
    color: #c1c1c1;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
}

.transfer span {
    vertical-align: middle;
}

.langText {
    display: block;
    width: 70%;
    padding-left: 10px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-toggle {
    background-color: #00b2ff;
    border: none;
}

.dropdown-toggle:hover {
    background-color: #0089c4;
    border: none;
}

.dropdown-toggle:focus {
    background-color: #7dc3ff !important;
    border: none;
}
.caret{
    transition: .3s ease-in-out;
    transform: rotate(0deg) scale(150%);
}
.dropdown-toggle:focus>.caret{
    transform: rotate(180deg) scale(150%);
}

.langUl {
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    overflow: auto;
    background: #fff;
}

.langUl::-webkit-scrollbar {
    width: 5px;
    /*width: 9px;*/
}

.langUl::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgb(236, 236, 236);
    background: rgba(236, 236, 236);
    /*border: 2px solid #fff;*/
}
.langUl::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #fff;
    border-radius: 0 4px 4px 0;
    background: #fff;
}
.langUl::-webkit-scrollbar-thumb:hover{
    background-color: #bbbbbb;
}

.langUl > li > a {
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.otherT-box {
    position: absolute;
    display: flex;
    right: 70px;
    width: 25% !important;
    height: 85px;
    top: 7px;
    justify-content: center;
    overflow: hidden;
    /*margin-right: 0 !important;*/
}

.otherT-box > div {
    display: inline-block;
    float: left;
    padding: 0 5px;
}

.textareaInfo{
    right: 25px;
    bottom: 25px;
}
